/.astro/
/.codacy/
/.gemini/
/.github/instructions/
/.nx/
/bun.lockb
/czrc
/eslint.config.mjs
/prettier.config.mjs

**/dist/
**/node_modules/
**/*LICENSE*
**/*lock.*
**/*.tsbuildinfo

**/*.png
**/*.svg
**/*.jpg
**/*.jpeg
**/*.gif
**/*.webp
**/*.mp4
**/*.mp3
**/*.woff
**/*.woff2
**/*.eot
**/*.ttf
**/*.otf
**/*.pdf
**/*.docx
**/*.xlsx
**/*.zip
**/*.tar.gz
