---
import Box from '../../ui/Box/Box.astro';
import Button from '../../ui/Button/Button.astro';
import Container from '../../ui/Container/Container.astro';
import Hero from '../../ui/Hero/Hero.astro';
import Typography from '../../ui/Typography/Typography.astro';
---

<Hero size="screen" background={{ variant: 'bubbles', interactive: true }}>
	<Container>
		<Box mb={6} sx={{ display: 'flex', justifyContent: 'center' }}>
			<img
				alt="me"
				src="/assets/me/square.webp"
				style={{ borderRadius: '1rem', width: '200px' }}
			/>
		</Box>

		<Box mb={6}>
			<Typography variant="h1" align="center" color="white">
				Davide Di Criscito
			</Typography>
			<Typography variant="h4" align="center" color="white">
				Full-Stack Web Developer & Dev Tooling Specialist
			</Typography>
			<Typography variant="h4" align="center" color="white" mt={2} />
			<Typography variant="h5" align="center" color="white" italic
				>powering web solutions</Typography
			>
		</Box>

		<Container
			maxWidth="sm"
			sx={{ display: 'flex', justifyContent: 'center', gap: 6 }}
		>
			<Button variant="contained" color="secondary" href="/it">
				Italiano
			</Button>
			<Button variant="contained" color="secondary" href="/en">
				English
			</Button>
		</Container>
	</Container>
</Hero>
