---
import { IconCookieFilled } from '@tabler/icons-react';

import Box from '../components/ui/Box/Box.astro';
import Button from '../components/ui/Button/Button.astro';
import Container from '../components/ui/Container/Container.astro';
import Fab from '../components/ui/Fab/Fab.astro';
import Hero from '../components/ui/Hero/Hero.astro';
import Typography from '../components/ui/Typography/Typography.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome">
	<Hero size="screen" background={{ variant: 'bubbles', interactive: true }}>
		<Container>
			<Box mb={6} sx={{ display: 'flex', justifyContent: 'center' }}>
				<img
					alt="me"
					src="/assets/me/square.webp"
					style={{ borderRadius: '1rem', width: '200px' }}
				/>
			</Box>

			<Box mb={6}>
				<Typography variant="h1" align="center" color="white">
					Davide Di Criscito
				</Typography>
				<Typography variant="h4" align="center" color="white">
					Full-Stack Developer & Dev Tooling Specialist
				</Typography>
				<Typography variant="h4" align="center" color="white" mt={2} />
				<Typography variant="h5" align="center" color="white" italic
					>powering web solutions</Typography
				>
			</Box>

			<Container
				maxWidth="sm"
				sx={{ display: 'flex', justifyContent: 'center', gap: 6 }}
			>
				<Button variant="contained" color="secondary" href="/it">
					Italiano
				</Button>
				<Button variant="contained" color="secondary" href="/en">
					English
				</Button>
			</Container>
		</Container>
	</Hero>

	<Fab
		variant="filled-outlined"
		color="primary"
		sx={{ position: 'fixed', bottom: 16, left: 16 }}
		size="large"
	>
		<IconCookieFilled size={24} />
	</Fab>
</Layout>
